@import './palette.scss';

$background-color: $c1;
$body-color: $c1;
$font: 'Muli', sans-serif;

body {
	background-color: $background-color;
	color: $body-color;
	font-family: $font;
	text-align: center;

	canvas {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
	}
}
